<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
	  <section>
 
      </section>
	<br>
	<section>
	    
      </section>
    </aside>
	<div class="span8">
		<%= render 'shared/calendarview' %>  
	</div>
  </div>  
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to the  Esports Events</h1>

    <h2>
 
      
    </h2>

    <%= link_to "Sign up now!", new_user_session_path, 
                                class: "btn btn-large btn-primary" %>
  </div>




<% end %>