<% provide(:title, @user.email) %>
<div class="hero-unit">
<div class="row">
   
    <section>
     	<%= render 'shared/user_info' %>
      	</section>
	<section>
 

	  <% if @friends.any? %>
	   <div class="user_avatars">
         <% @friends.each do |friend| %>
         <%= link_to gravatar_for(friend, size: 30), '/friends/' + friend.id.to_s %>
         <% end %>
       </div>
     <% end %>
	</section> 
<div class="span8">
    <section>
	    
     </section>
  </div>
</div>
</div>
